<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssy.base.dao.mapper.SppDictPriorityMapper">
  <resultMap id="BaseResultMap" type="cn.ssy.base.entity.mybatis.SppDictPriority">
    <constructor>
      <idArg column="dict_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dict_priority" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_enabled" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="group_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    dict_type, dict_priority, is_enabled, group_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spp_dict_priority
    where dict_type = #{dictType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from spp_dict_priority
    where dict_type = #{dictType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.ssy.base.entity.mybatis.SppDictPriority">
    insert into spp_dict_priority (dict_type, dict_priority, is_enabled, 
      group_id)
    values (#{dictType,jdbcType=VARCHAR}, #{dictPriority,jdbcType=INTEGER}, #{isEnabled,jdbcType=BIT}, 
      #{groupId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ssy.base.entity.mybatis.SppDictPriority">
    insert into spp_dict_priority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictType != null">
        dict_type,
      </if>
      <if test="dictPriority != null">
        dict_priority,
      </if>
      <if test="isEnabled != null">
        is_enabled,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="dictPriority != null">
        #{dictPriority,jdbcType=INTEGER},
      </if>
      <if test="isEnabled != null">
        #{isEnabled,jdbcType=BIT},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ssy.base.entity.mybatis.SppDictPriority">
    update spp_dict_priority
    <set>
      <if test="dictPriority != null">
        dict_priority = #{dictPriority,jdbcType=INTEGER},
      </if>
      <if test="isEnabled != null">
        is_enabled = #{isEnabled,jdbcType=BIT},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_type = #{dictType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ssy.base.entity.mybatis.SppDictPriority">
    update spp_dict_priority
    set dict_priority = #{dictPriority,jdbcType=INTEGER},
      is_enabled = #{isEnabled,jdbcType=BIT},
      group_id = #{groupId,jdbcType=VARCHAR}
    where dict_type = #{dictType,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from spp_dict_priority where is_enabled = 1 order by dict_priority
  </select>
</mapper>