<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssy.base.dao.mapper.TspFlowStepControllerMapper">
  <resultMap id="BaseResultMap" type="cn.ssy.base.entity.mybatis.TspFlowStepController">
    <constructor>
      <idArg column="system_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <idArg column="corporate_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <idArg column="tran_flow_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <idArg column="flow_step_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="execution_no" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="tran_group_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="flow_step_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_execution" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    system_code, corporate_code, tran_flow_id, flow_step_num, execution_no, tran_group_id, 
    flow_step_name, is_execution
  </sql>
  <select id="selectByPrimaryKey" parameterType="cn.ssy.base.entity.mybatis.TspFlowStepControllerKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tsp_flow_step_controller
    where system_code = #{systemCode,jdbcType=VARCHAR}
      and corporate_code = #{corporateCode,jdbcType=VARCHAR}
      and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
      and flow_step_num = #{flowStepNum,jdbcType=INTEGER}
      and execution_no = #{executionNo,jdbcType=INTEGER}
      and tran_group_id = #{tranGroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.ssy.base.entity.mybatis.TspFlowStepControllerKey">
    delete from tsp_flow_step_controller
    where system_code = #{systemCode,jdbcType=VARCHAR}
      and corporate_code = #{corporateCode,jdbcType=VARCHAR}
      and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
      and flow_step_num = #{flowStepNum,jdbcType=INTEGER}
      and execution_no = #{executionNo,jdbcType=INTEGER}
      and tran_group_id = #{tranGroupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.ssy.base.entity.mybatis.TspFlowStepController">
    insert into tsp_flow_step_controller (system_code, corporate_code, tran_flow_id, 
      flow_step_num, execution_no, tran_group_id, 
      flow_step_name, is_execution)
    values (#{systemCode,jdbcType=VARCHAR}, #{corporateCode,jdbcType=VARCHAR}, #{tranFlowId,jdbcType=VARCHAR}, 
      #{flowStepNum,jdbcType=INTEGER}, #{executionNo,jdbcType=INTEGER}, #{tranGroupId,jdbcType=VARCHAR}, 
      #{flowStepName,jdbcType=VARCHAR}, #{isExecution,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ssy.base.entity.mybatis.TspFlowStepController">
    insert into tsp_flow_step_controller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemCode != null">
        system_code,
      </if>
      <if test="corporateCode != null">
        corporate_code,
      </if>
      <if test="tranFlowId != null">
        tran_flow_id,
      </if>
      <if test="flowStepNum != null">
        flow_step_num,
      </if>
      <if test="executionNo != null">
        execution_no,
      </if>
      <if test="tranGroupId != null">
        tran_group_id,
      </if>
      <if test="flowStepName != null">
        flow_step_name,
      </if>
      <if test="isExecution != null">
        is_execution,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemCode != null">
        #{systemCode,jdbcType=VARCHAR},
      </if>
      <if test="corporateCode != null">
        #{corporateCode,jdbcType=VARCHAR},
      </if>
      <if test="tranFlowId != null">
        #{tranFlowId,jdbcType=VARCHAR},
      </if>
      <if test="flowStepNum != null">
        #{flowStepNum,jdbcType=INTEGER},
      </if>
      <if test="executionNo != null">
        #{executionNo,jdbcType=INTEGER},
      </if>
      <if test="tranGroupId != null">
        #{tranGroupId,jdbcType=VARCHAR},
      </if>
      <if test="flowStepName != null">
        #{flowStepName,jdbcType=VARCHAR},
      </if>
      <if test="isExecution != null">
        #{isExecution,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ssy.base.entity.mybatis.TspFlowStepController">
    update tsp_flow_step_controller
    <set>
      <if test="flowStepName != null">
        flow_step_name = #{flowStepName,jdbcType=VARCHAR},
      </if>
      <if test="isExecution != null">
        is_execution = #{isExecution,jdbcType=VARCHAR},
      </if>
    </set>
    where system_code = #{systemCode,jdbcType=VARCHAR}
      and corporate_code = #{corporateCode,jdbcType=VARCHAR}
      and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
      and flow_step_num = #{flowStepNum,jdbcType=INTEGER}
      and execution_no = #{executionNo,jdbcType=INTEGER}
      and tran_group_id = #{tranGroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ssy.base.entity.mybatis.TspFlowStepController">
    update tsp_flow_step_controller
    set flow_step_name = #{flowStepName,jdbcType=VARCHAR},
      is_execution = #{isExecution,jdbcType=VARCHAR}
    where system_code = #{systemCode,jdbcType=VARCHAR}
      and corporate_code = #{corporateCode,jdbcType=VARCHAR}
      and tran_flow_id = #{tranFlowId,jdbcType=VARCHAR}
      and flow_step_num = #{flowStepNum,jdbcType=INTEGER}
      and execution_no = #{executionNo,jdbcType=INTEGER}
      and tran_group_id = #{tranGroupId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectOne_odb1" parameterType="map" resultMap="BaseResultMap">
    SELECT
		b.tran_flow_id
	FROM
		tsp_tran_controller a,
		tsp_flow_step_controller b
	WHERE
		a.tran_group_id = b.tran_group_id
	AND a.tran_code = #{tranCode,jdbcType=VARCHAR}
	AND a.step_id = #{stepId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List"/>
    from tsp_flow_step_controller order by cast(tran_group_id as signed)
  </select>
</mapper>